output/alles_karaoke.mp4
__pycache__/
lrc_maker_best.py
lrc_maker_claude.py
lrc_maker3.py
output/alles.lrc
output/alles.srt
output/karaoke.mp4
static/alles_oud.lrc
static/alles_oud.mp4
static/alles.lrc
static/alles.srt
static/bg.mp4
static/karaoke.mp4
uploads/alles_juist.lrc
uploads/alles.mp3
uploads/alles.mp4
uploads/alles.txt
uploads/kleine.mp3
uploads/kleine.mp4
uploads/kleine.txt
.gitignore
venv/
env/
.venv/
.env/
__pypackages__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pot
*.mo  
karaoke_maker_line.py
lrc_maker_line.py
*.mp4
*.mp3
*.lrc
*.srt
*.txt

templates/index.old.html
